<form>
    <ul class="todo-list flexcol">
        {{#each todos}}
            <li class="flexrow" data-todo-id="{{id}}">
                <input type="checkbox" name="{{id}}.isDone" title="Mark Done" data-dtype="Boolean" {{checked isDone}} />
                <input type="text" value="{{label}}" name="{{id}}.label" data-dtype="String" />
                <button type="button" title="Delete To Do" data-action="delete" class="flex0 todo-list-icon-button">
                    <i class="fas fa-trash"></i>
                </button>
            </li>
        {{/each}}
    </ul>
    <button type="button" data-actions="create"><i class="fas fa-plus"></i> Add To Do</button>
</form>